<a href="https://colab.research.google.com/github/piyush02nir/python_patterns/blob/main/Pattern_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pattern 1
row = 5
for i in range(0,row):
  for j in range(0,row):
    print('*', end = " ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Pattern 2
row = 5
for i in range(0,row):
  for j in range(0,i+1):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Pattern 3
row = 5 
for i in range(0,row):
  for j in range(0,row -i):
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Pattern 4
row = 5
for i in range(1,row+ 1):
  for j in range(1,row+ 1):
    if j <= i:
      print(j, end= ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Pattern 5
row = 5
n = row * 2
for i in range(0,n):
  if i <= row:
    for j in range(0,i):
      print("*",end = " ")
  else:
    for j in range(0,n - i):
      print("*",end = " ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Pattern 6
row = 5

for i in range(1,row+1):
  No_spaces = row - i
  print(" "*No_spaces,end="")
  for j in range(0,i):
    print("*",end = "")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
# Pattern 7
row = 5

for i in range(0,row):
  No_spaces = i
  print(" "*No_spaces,end="")
  for j in range(0,row-i):
    print("*",end="")
  print()

*****
 ****
  ***
   **
    *

In [ ]:
# Pattern 8
row = 5
for i in range(0,row):
  No_spaces = row - i
  print(" "*No_spaces,end="")
  for j in range(1,2*(i+1)):
    print("*",end="")
  print()

     *
    ***
   *****
  *******
 *********

In [ ]:
# Pattern 9
row = 5
n = 2*row - 1
for i in range(0,row):
  No_spaces = i
  print(" "*No_spaces, end = "")
  print(" ", end= "")
  for j in range(0,n-2*i):
    print("*", end="")
  print()

 *********
  *******
   *****
    ***
     *

In [ ]:
# Pattern 10
row = 5
for i in range(1,row+1):
  No_spaces = row - i
  print(" "*No_spaces,end = "")
  for j in range(0,i):
    print("* ",end = "")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Pattern 11
row = 5
for i in range(0,row):
  No_spaces = i
  print(" "*No_spaces,end = "")
  for j in range(row-i,0,-1):
    print("* ",end="")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# Pattern 12
row = 5
n = row * 2  # the total number of rows
for i in range(n):
  if i < row:
    No_spaces = row - abs(row - i -1)
    print(" " * No_spaces, end="")
    print("* " * (row - i))
  else:
    No_spaces = row - abs(row - i)
    print(" " * No_spaces, end="")
    print("* " * (i - row + 1))

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [6]:
# Pattern 13
row = 5
for i in range(0,row):
  No_spaces = row-i
  print(" "*No_spaces,end="")
  for j in range(0,2*i+1):
    if i == row-1 or j==0 or j == 2*i:
      print("*", end ="")
    else:
      print(" ",end="")
  print()

     *
    * *
   *   *
  *     *
 *********

In [26]:
# Pattern 14
row = 5
for i in range(0,row):
  No_spaces = i
  print(" "*No_spaces,end="")
  for j in range(2*row-1-i,0,-1):
    if i==0 or j==2*row-1-i or j==i+1:
      print("*", end="")
    else:
      print(" ",end="")
  print()

*********
 *     *
  *   *
   * *
    *

In [56]:
# Pattern 15
row = 5
n = 2*row-1
for i in range(0,n):
  if i<=row-1:
    No_spaces = row-1-i
    print(" "*No_spaces,end="")
    for j in range(0,row+i):
      if j==0 or j==2*i:
        print("*",end="")
      else:
        print(" ",end="")
  else:
    No_spaces = i-row+1
    print(" "*No_spaces,end="")
    for j in range(0,(n-i)*2):
      if j==0 or j==(n-i-1)*2:
        print("*",end="")
      else:
        print(" ",end="")
  print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *